
.about{
    color: var(--main-color);
    font-size: 18px;
    line-height: 1.9rem;
    margin-bottom: 4rem;
}

.about__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.about__section-2 {
    flex-direction: column-reverse;
}

.about__flex > img{
    width: 60%;
    margin-bottom: 2rem;
}

.about__paragraph{
    width: 70%;
}

.about__paragraph > :nth-child(1){
    margin-bottom: 2rem;
}

.about__section-3{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about__section-3 > button{
    cursor: pointer;
    font-size: 13px;
    margin-top: 1.5rem;
    padding: .8rem 3rem;
    border: none;
    background-color: var(--secondary-color);
    font-weight: 600;
    font-family: 'Poppins', 'sans-serif';
}

.about__section-3 > button > a{
    color: white;
    text-decoration: none;
}

.about__section-3 > button:hover{
    background-color: var(--accent-color);
}

@media screen and (min-width: 900px){
    .about{
        color: var(--main-color);
        font-size: 18px;
        line-height: 1.9rem;
        margin-bottom: 4rem;
    }
    
    .about__flex{
        flex-direction: row;
        gap: 5rem;
        margin-bottom: 4rem;
    }
    
    .about__flex > img{
        width: 30%;
    }
    
    .about__paragraph{
        width: 30%;
    }
    
    .about__section-3{
        width: 65%;
    }

    .about__section-3 > button{
        font-size: 18px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 901px) {
    .about{
        font-size: 16px;
    }

    .about__flex > img{
        width: 30%;
    }
    
    .about__paragraph{
        width: 50%;
    }

    .about__section-3{
        width: 90%;
    }
}