.cart-checkout{
    text-align: right;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.subtotal{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50%;
    color: var(--main-color);
}

.subtotal > h3{
    font-size: 16px;
}

.checkout-btn, .checkout-shop-btn{
    width: 50%;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--secondary-color);
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.checkout-btn:hover, .checkout-shop-btn:hover{
    background-color: var(--accent-color);
}