.cart{
    margin-bottom: 4rem;
    color: var(--main-color);
    font-size: 14px;
}

h3, span{
    font-weight: 500;
}

span{
    padding: 0 .3rem;
}

.cart__product{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .8rem 0rem;
}

.cart__product-section-1{
    width: 63%;
    display: flex;
    align-items: center;
    gap: .7rem;
}

.cart__product-section-1 > img{
    width: 30%;
}

.cart__product-section-2{
    display: flex;
    font-size: 12px;
    gap: .1rem;
}

.cart__product-section-2 > h3{
    text-decoration: underline;
}

.product__counter > :nth-child(1), .product__counter > :nth-child(3) {
    font-size: 12px;
    background-color: var(--accent-color);
    color: rgba(255, 255, 255, 0.847);

}

.product__counter > :nth-child(1):hover, .product__counter > :nth-child(3):hover {
    background-color: #7f86eb;
}

@media screen and (min-width: 650px) {

    .cart__product-section-1{
        width: 50%;
    }

    .cart__product-section-2{
        gap: 8rem;
    }
}

@media screen and (min-width: 1000px) {

    .cart__product-section-1{
        width: 35%;
    }

    .cart__product-section-2{
        gap: 12rem;
    }

    .cart{
        font-size: 16px;
    }

    .cart__product-section-1 > img{
        width: 35%;
    }

    .product__counter > :nth-child(2) {
        font-size: 16px;  
    }

    .product__counter > :nth-child(1), .product__counter > :nth-child(3) {
        font-size: 18px;
        background-color: var(--accent-color);
        color: rgba(255, 255, 255, 0.847);
    
    }

}
