.cart__header{
    margin: 5rem 0 5rem;
    text-align: center;
}

.cart__header > h1{
    font-size: 60px;
    color: var(--main-color);
}

@media screen and (min-width: 900px){

    .cart__header{
        margin: 5rem 0 5rem;
    }
    
    .cart__header > h1{
        font-size: 110px;
        margin-bottom: 4rem;
    }
    
}

@media screen and (max-width: 500px){
    .cart__header > h1{
        font-size: 45px;
    }   
}