.shop__categories{
    margin-bottom: 2rem;
}

.category-section{
    margin-bottom: 2rem;
}

.category-1 {
    width: 60%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.category-1 > img{
    border-radius: 15px;
}

.category-1 > div {
    cursor: pointer;
    position: absolute;
    padding: .7rem 0;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 40%;
    background: var(--accent-color);
    opacity: 90%;
    letter-spacing: .1rem;
    font-size: 16px;
    color: white;
    width: 70%;
    border-radius: 10px;
}

.divider{
    width: 80%;
    height: 1.5px;
    background-color: var(--main-color);
    margin: 3rem 10%;
}

@media screen and (min-width: 900px){

    .shop__categories{
        width: 85%;
        margin: 0 auto;
    }

    .category-1 {
        width: 90%;
    }

    .category-section{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .category-1 > div {
        font-size: 18px;
    }

}

@media only screen and (min-width: 1100px) {

    .shop__categories{
        width: 75%;
    }

    .category-1 {
        width: 90%;
    }
    
}
