.shop__categories{
    margin-bottom: 2rem;
}

.category-section{
    margin-bottom: 2rem;
}

.category {
    width: 60%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.category > img{
    border-radius: 15px;
}

.category > div {
    cursor: pointer;
    position: absolute;
    padding: .7rem 0;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 40%;
    background: var(--accent-color);
    opacity: 90%;
    letter-spacing: .1rem;
    font-size: 16px;
    color: white;
    width: 70%;
    border-radius: 10px;
}

@media screen and (min-width: 900px) {
    .category{
        width: 95%;
    }
}
