.products-section{
    margin: 0rem 5rem 0;
}

.product-1{
    width: 95%;
    border: 1px solid black;
    padding: 1.5rem;
    margin: 4rem 10%;
}

.product-1__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    color: var(--main-color);
}

.product-1__info > h3{
    font-weight: 600;
}

.product-1__info > :nth-child(2){
    text-decoration: underline;
}

.add-to-cart-btn{
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    border: none;
    background-color: var(--secondary-color);
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.add-to-cart-btn:hover{
    background-color: var(--accent-color);
}

@media only screen and (min-width: 900px) {
    body{
        overflow-x: hidden;
    }

    .products-section__container{
        width: 75%;
        display: grid;
        grid-template-columns: 40% 40% 40%;
    }

    .product-1{
        margin: 1rem 24%;
    }

}

@media only screen and (min-width: 901px) and (max-width:1550px) {
    
    .product-1__info{
        text-align: center;
        flex-direction: column;
    }

    .product-1__info > :nth-child(1){
        margin-bottom: .5rem;
    }
}


