.products-section__container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.individual__product{
    border: 1px solid black;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.product__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    color: var(--main-color);
    font-size: 14px;
}

.product__info > h3{
    font-weight: 600;
}

.product__info > :nth-child(2){
    text-decoration: underline;
}

.product__add-to-cart-btn{
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    border: none;
    background-color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.product__add-to-cart-btn:hover{
    background-color: var(--accent-color);
}

@media only screen and (max-width: 650px) {

    .product__info{
        text-align: center;
        flex-direction: column;
    }

    .product__info > :nth-child(1){
        margin-bottom: .5rem;
    }
}

@media only screen and (min-width: 900px) {
    body{
        overflow-x: hidden;
    }

    .product__info{
        font-size: 16px;
    }

    .products-section__container{
        width: 95%;
    }

    .product__add-to-cart-btn{
        font-size: 18px;
    }

}

@media only screen and (min-width: 901px) and (max-width:1550px) {
    
    .product__info{
        text-align: center;
        flex-direction: column;
    }

    .product__info > :nth-child(1){
        margin-bottom: .5rem;
    }
    
}




