.testimonials-wrapper{
    margin-bottom: 5rem;
    margin-top: 15rem;
}

.testimonial-box{
    width: 70%;
    margin: 0 auto;
    background-color: var(--main-color);
    color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    margin-top: -12rem;
}

.testimonial-box-image{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-bottom: .5rem;
}

.testimonial-box > h2{
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 22px;
}

.testimonial-box > p{
    font-weight: 400;
    font-size: 14px;
}

@media only screen and (min-width: 600px) {

    .testimonial-box-image{
        margin: 0 auto;
        width: 14rem;
        height: 14rem;
    }

    .testimonial-box{
        width: 70%;
    }

}

@media only screen and (min-width: 900px) {
    body{
        overflow-x: hidden;
    }

    .testimonials-wrapper-heading > h1{
        margin-bottom: .8rem;
        font-size: 30px;
    }

    .testimonial-box > h2{
        font-size: 23px;
    }
    
    .testimonial-box > p{
        font-size: 16px;
    }

    .testimonial-box-image{
        width: 11rem;
        height: 11rem;
    }

    .testimonial-box{
        width: 95%;
    }

}

@media only screen and (min-width: 1300px) {

    .testimonial-box{
        width: 90%;
    }

    .testimonial-box > h2{
        font-size: 26px;
    }
    
}

@media only screen and (min-width: 1500px) {

    .testimonial-box-image{
        width: 20rem;
        height: 20rem;
    }
}



