:root{
    --main-color: #4D4E63;
    --secondary-color: #FF93AC;
    --accent-color: #717AF0;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}

.trending-wrapper{
    margin: 15rem 5rem 0;
}

.trending-wrapper__heading{
    text-align: center;
    color: var(--main-color);
}

.trending-wrapper__heading > h1{
    font-size: 35px;
}

.trending-wrapper__heading > h3{
    font-size: 18px;
    font-weight: 400;
    margin-top: 1.3rem;
}

.product-box-1{
    width: 80%;
    border: 1px solid black;
    padding: 1.5rem;
    margin: 4rem 10%;
}

.product-box__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

.product-box__info > h3{
    font-weight: 600;
}

.add-to-cart-btn{
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    border: none;
    background-color: var(--secondary-color);
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.add-to-cart-btn:hover{
    background-color: var(--accent-color);
}

@media only screen and (min-width: 900px) {
    body{
        overflow-x: hidden;
    }

    .trending-wrapper__products-box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-box-1{
        margin: 4rem 2%;
    }

    .testimonial-containers{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .testimonial-box-1{
        margin: 4rem 2%;
    }

}


