:root{
    --main-color: #4D4E63;
    --secondary-color: #FF93AC;
    --accent-color: #717AF0;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    max-width: 2200px;
}

img{
    width: 100%;
}

.trending__products{
    display: flex;
}

.Trending__products{
    width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 900px) {
    body{
        overflow-x: hidden;
    }

    .Trending__products{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .Testimonials-elements{
        display: flex;
        width: 89%;
        margin: 0 auto;
    }

    .categories-elements{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto;
    }

    .product-elements{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1400px) {
    .categories-elements{
        width: 80%;
    }

    .product-elements{
        width: 80%;
    }
}






