*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}

.site-logo{
    min-width: 10rem;
}

ul{
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__first-nav, .nav__second-nav{
    display: flex;
    gap: 5rem;
}

.nav__first-nav{
    display: flex;
}

.nav a{
    text-decoration: none;
}

.nav li.active > a{
    color: red;
    text-decoration: underline;
}


.cart-icon{
    position: relative;
    font-size: 26px;
    top: -10%;
}

.item-total{
    position: absolute;
    font-size: 12px;
    top: 5%;
}